/* Start Variables */
:root {
    --main-transition-du: 0.3s;
    
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-0: hsl(0, 0%, 100%);
    
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    background-color: var(--neutral-900);
    font-size: 18px;
}

/* another font for use to somthing else */
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */

/* start header */
.header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header .container {
        padding-top: 30px;
    }
}

.header .container .units {
    color: var(--neutral-0);
    background-color: var(--neutral-700);
    display: flex;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color var(--main-transition-du) ease;
}

.header .container .units:hover {
    background-color: var(--neutral-600);
}

.header .container .units.active {
    background-color: var(--neutral-600);
}

.header .container .units span {
    padding: 5px;
}

.header .units-box {
    max-width: 220px;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--neutral-800);
    border-radius: 8px;
    color: var(--neutral-0);
    z-index: 10;
    position: absolute;
    right: 60px;
    top: 70px;
    transition: var(--main-transition-du);
    display: none;
}

.header .units-box.active {
    display: block;
}

@media (max-width: 768px) {
    .header .units-box {
        position: absolute;
        right: 10px;
        top: 90px;
    }
}

.header .units-box div:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .units-box .side-title {
    color: var(--neutral-300);
    padding: 10px 0 0;
    border-top: 1px solid var(--neutral-300);
    margin-bottom: 5px;
}

.header .units-box div:not(.side-title) {
    margin-bottom: 2px;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color var(--main-transition-du) ease;
    position: relative; 
}

.header .units-box div:not(.side-title):not(#imperial)::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/icon-checkmark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.header .units-box div:not(.side-title):not(#imperial).active::after {
    display: block;
}

.header .units-box div:not(.side-title):hover {
    background-color: var(--neutral-600);
}

.header .units-box div:not(.side-title):not(#imperial).active {
    background-color: var(--neutral-600);
}

/* end header */

/* start search area */
.search-area .container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .search-area .container {
        text-align: center;
    }
}

.search-area .container h1 {
    /* text-align: center; */
    color: var(--neutral-0);
    font-size: 50px;
}

.search-area .container .search-bar {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search-area .container .search-bar::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

@media (max-width: 768px) {
    .search-area .container .search-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .search-area .container .search-bar::before {
        width: 30px;
        height: 30px;
        left: 15px;
        top: 30px;
    }
}

.search-area .container .search-bar input {
    width: 100%;
    padding: 10px 20px;
    padding: 10px 10px 10px 45px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
    color: var(--neutral-0);
    outline: none;
}

.search-area .container .search-bar input::placeholder {
    color: var(--neutral-300);
}

@media (max-width: 768px) {
    .search-area .container .search-bar input {
        padding: 20px 20px 20px 50px;
    }
}

.search-area .container .search-bar button {
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--neutral-0);
    font-weight: bold;
    background-color: var(--blue-700);
    outline: none;
    border: none;
    cursor: pointer;
    transition: var(--main-transition-du);
}

@media (max-width: 768px) {
    .search-area .container .search-bar button {
        margin-top: 10px;
        padding: 15px;
        font-weight: bold;
        font-size: 30px;
    }
}

.search-area .container .search-bar button:hover {
    background-color: var(--blue-500);
}
/* end search area */

/* start content area */
.content .container {
    display: flex;
    justify-content: space-between; 
    gap: 30px;                    
    margin-top: 40px;            
    margin-bottom: 40px;            
}

@media (max-width: 768px) {
    .content .container {
        flex-direction: column;
    }
}

/* start first area */
.content .container .today-result {
    display: flex;
    flex-direction: column;
    gap: 24px; 
    flex: 1; 
}

/* ==================== 1.section one ==================== */
.current-weather-card {
    background-image: url(../images/bg-today-large.svg);
    padding: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutral-0);
    width: 100%;
    height: auto;
    min-height: 200px;
    flex-wrap: wrap;
    gap: 15px;
}

@media (max-width: 768px) {
    .current-weather-card {
        background-image: url(../images/bg-today-small.svg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.current-weather-card .city-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.current-weather-card .current-date {
    font-size: 14px;
    color: var(--neutral-200);
}

.current-weather-card .weather-display {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width: 768px) {
    .current-weather-card .weather-display {
        width: 100%;
        justify-content: space-between;
    }
}

.current-weather-card .big-weather-icon {
    width: 64px;
    height: 64px;
    font-size: 12px;
    color: var(--neutral-300);
}

.current-weather-card .main-temp {
    font-size: 64px;
    font-weight: 300;
}

/* ==================== 2.section tow ==================== */
.weather-metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px;
}



.metric-card {
    background-color: var(--neutral-800);
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid hsl(243, 23%, 15%);
}

.metric-card .metric-title {
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--neutral-300);
}

@media (max-width: 768px) {
    .metric-card .metric-title {
        font-size: 20px;
    }
}

.metric-card .metric-value {
    font-size: 20px;
    font-weight: bold;
    color: var(--neutral-0);
}

/* ==================== 3.section three ==================== */
.daily-forecast-section .section-title {
    color: var(--neutral-0);
    font-size: 16px;
    margin-bottom: 12px;
}

.forecast-days-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); 
    gap: 15px;
}

.forecast-day-card {
    background-color: var(--neutral-800);
    padding: 15px 10px;
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: var(--neutral-0);
    border: 1px solid hsl(243, 23%, 15%);
}

.forecast-day-card .day-name {
    font-size: 14px;
    color: var(--neutral-200);
}

.forecast-day-card .small-weather-icon {
    width: 28px;
    height: 28px;
    font-size: 10px;
    margin: 5px 0;
    color: var(--neutral-300);
    text-align: center;
}

.forecast-day-card .day-temps {
    display: flex;
    gap: 6px;
    font-size: 12px;
}

.forecast-day-card .max-temp {
    color: var(--neutral-0);
    font-weight: bold;
}

.forecast-day-card .min-temp {
    color: var(--neutral-300);
}
/* end first area */

/* start second area */
.content .everyday-result {
    background-color: var(--neutral-800); 
    padding: 25px;
    border-radius: 16px;
    max-width: 350px;
    width: 100%;
    flex-shrink: 0; 
    position: relative;
}

@media (max-width: 768px) {
    .content .everyday-result {
        width: 100%;
        max-width: 100%;
    }
}

.everyday-result .days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutral-0);
    margin-bottom: 15px;
}

.everyday-result .dropdown-day {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--neutral-700);
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color var(--main-transition-du) ease;
}

.everyday-result .dropdown-day:hover {
    background-color: var(--neutral-600);
}

/* its corelated with days-switch */
.everyday-result .dropdown-day.active {
    background-color: var(--neutral-600);
}

/* day-switch */

.everyday-result .days-switch {
    max-width: 200px;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: var(--neutral-700);
    border-radius: 8px;
    color: var(--neutral-0);
    z-index: 20;
    position: absolute;
    right: 0;
    top: 65px;
    transition: var(--main-transition-du);
    display: none;
}

.everyday-result .days-switch div {
    padding: 5px 10px;
    border-bottom: 1px solid white;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 6px;
    cursor: pointer;
    transition: var(--main-transition-du);
}

.everyday-result .days-switch div:hover {
    background-color: var(--neutral-600);
}

.everyday-result .days-switch div.active {
    background-color: var(--neutral-600);
}

.everyday-result .days-switch.active {
    display: block;
}

/* day-switch */

.everyday-result .hourly-list {
    max-height: 400px; 
    overflow-y: auto; 
    padding-right: 5px; 
}

.everyday-result .hourly-list::-webkit-scrollbar {
    width: 6px;
}
.everyday-result .hourly-list::-webkit-scrollbar-thumb {
    background-color: var(--neutral-600);
    border-radius: 10px;
}

.everyday-result .hourly-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: var(--neutral-0);
}

.everyday-result .hourly-item .time-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.everyday-result .hourly-item .time-info img {
    width: 24px;
    height: 24px;
}

.everyday-result .hourly-item .temp {
    font-weight: bold;
    color: var(--neutral-200);
}
/* end second area */

/* end content area */

/* alert massege */

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff4a5a;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1000;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.custom-alert.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* alert massege */

/* waiting area */

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;            
    height: 100%;
    min-height: 150px;
    color: #a0aec0;
    font-family: sans-serif;
    font-size: 16px;
    gap: 15px;
}

.loading-dots {
    display: flex;
    position: relative;
    width: 80px;
    height: 40px;
    margin: 0 auto;
}

.loading-dots div {
    position: absolute;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-dots div:nth-child(1) {
    left: 8px;
    animation: loading-dots1 0.6s infinite; 
}
.loading-dots div:nth-child(2) { 
    left: 8px;
    animation: loading-dots2 0.6s infinite; 
}
.loading-dots div:nth-child(3) { 
    left: 32px;
    animation: loading-dots2 0.6s infinite; 
}
.loading-dots div:nth-child(4) {
    left: 56px; 
    animation: loading-dots3 0.6s infinite; 
}

@keyframes loading-dots1 {
    0% { 
        transform: scale(0); 
    } 100% { 
        transform: scale(1); 
    } 
}
@keyframes loading-dots3 { 
    0% { 
        transform: scale(1); 
    } 100% { 
        transform: scale(0); 
    } 
}
@keyframes loading-dots2 { 
    0% { 
        transform: translate(0, 0); 
    } 100% { 
        transform: translate(24px, 0); 
    } 
}

/* waiting area */


/* error contaner */

.error-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

@media (max-width: 767px) {
    .error-page .container {
        padding-top: 200px;
        /* min-height: 100vh;
        justify-content: center; */
    }
}

.error-page .container img {
    width: 35px;
    color: #a0aec0;
    margin-bottom: -5px;
}

.error-page .container h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 12px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .error-page .container h2 {
        text-align: center;
        width: 100%;
    }
}

.error-page .container p {
    max-width: 380px;
    text-align: center;
    color: #a0aec0;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.error-page .container a .retry-button {
    background-color: #1e203e;
    color: #fff;
    border: 1px solid #30365d;
    padding: 10px 24px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
}

.error-page .container .retry-button::before {
    content: "";
    background-image: url("../images/icon-retry.svg");
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px 10px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;

}

.error-page .container a .retry-button:hover {
    background-color: #2a2d54;
}

/* error contaner */
